{minimum_otp_vsn, "22.0"}.
{erl_opts, [debug_info, warnings_as_errors, warn_untyped_records]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.
{deps, []}.
{profiles, [
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.
