{erl_opts, [debug_info, warnings_as_errors, warn_untyped_records]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.
{deps, []}.

{plugins, [{rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}]}.
