{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{edoc_opts, [{preprocess, true}]}.
{deps, []}.

{eunit_compile_opts, [{d, 'PULSE', true},
                      {parse_transform, pulse_instrument},
                      {pulse_side_effect, [{ets, '_', '_'}]},
                      {pulse_replace_module, [{application, pulse_application},
                                              {application_controller, pulse_application_controller},
                                              {application_master, pulse_application_master},
                                              {application_starter, pulse_application_starter},
                                              {gen, pulse_gen},
                                              {gen_event, pulse_gen_event},
                                              {gen_fsm, pulse_gen_fsm},
                                              {gen_server, pulse_gen_server},
                                              {proc_lib, pulse_proc_lib},
                                              {supervisor, pulse_supervisor}]}]}.
